.bordered{
	border: 1px solid rgba(192,192,192,.5);
}
.item-input{
	border-bottom: unset;
}
.image{
	border: 1px solid rgba(192,192,192,.5);
	border-radius: 50%;
	width: 20%;
	margin-left: 40%;
	margin-top: 5%;
	margin-bottom: 2%;
}
ion-icon{
	margin-right: 2%;
}
ion-button{
	margin-top: 5%;
}

